{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<section class="row-fluid">
	<div class="col-md-4" d="content" style="margin-top:15px;">
		{% if form.errors %}
		<p>Your Address Information didn't process, please try again.</p>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			</div>
			<div class="panel-body">
			<form class="form-horizontal" method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-sm-3 control-label" for="id_username">Username:</label>
					<div class="col-sm-9">
					{{ a_form|crispy }}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="id_username">Password:</label>
					<div class="col-sm-9">
					{{ a_form|crispy }}
					</div>
				</div>
				{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% else %}
				<input type="hidden" name="next" value="{% url 'org_list_all' %}" />
				{% endif %}
				<button class="btn btn-primary pull-right" type="submit">Login </button>
				<div class="clearfix">&nbsp;</div>
			</form>
			</div>
		</div>
	</div>
</section>
{%endblock%}